<% // Compute the values needed by this template

  let ascQuery, desQuery; // Query strings for listing items in different orders

  ascQuery = Query.stringify({page:pageData.currentPage, orderBy:1, order:1});
  desQuery = Query.stringify({page:pageData.currentPage, orderBy:1, order:-1});
%>

<%- include header.ejs %>

  <div id="content" class="container">
    <div class="container mt-3">
      <h5>List of items</h5>
    </div>
    <div id="sort" class="container mb-2">
    <a href="?<%=ascQuery%>">Order by Creation Time (Ascending Order)</a><br>
    <a href="?<%=desQuery%>">Order by Creation Time (Descending Order)</a><br>
    </div>
    <div class="container">
    <ul class="list-group">
    <% for (let item of pageData.items) {
        let q = Query.stringify({id: item._id});
      %>
        <!-- <li class="list-group-item justify-content-between"> -->
          <a href="/item?<%=q%>" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1"><%=item.title%></h5><small ><%=item.createdOn.toLocaleString()%></small><br>
          </div>
          <span><%=item.token_value.toLocaleString()%></span>
          <%#  ********TODO Add img link into database of the item %>
          <%#  **** Retrieve it as an image href for display       %>

          <span class="badge badge-default badge-pill">Qunatity: <%=item.quantity.toLocaleString()%></span>

          </a>


        <!-- </li> -->
    <% } %>
    </ul>
  </div>

    <ul>
    <%
       let params = JSON.parse(JSON.stringify(pageData.params)); // Clone the params object
       for (let i = 0; i < pageData.pageCount; i++) {
         params.page = i+1;
         let q = Query.stringify(params);
      %>
      <a href="?<%=q%>"><button><%=params.page%></button></a>
      &nbsp;
    <% } %>
    </ul>



  </div>

<%- include footer.ejs %>
